.catalogue{
    background: url(../src/backgroundAboutUs.png) center center no-repeat;
    background-size: cover;
    padding: 120px 0;
    color: #fff;
    text-transform: uppercase;
}
.catalogue .heading{
    text-align: center;
    margin-bottom: 20px;
}
.catalogue .founder{
    width: 100%;
    max-width: 400px;
}
.catalogue .page-name h1{
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
}
.catalogue .page-name hr{
    width: 30%;
    opacity: 1;
    border: 2px solid #B6E925;
    background: #B6E925;
}
.catalogue .text .description p{
    font-size: 14px;
    line-height: 21px;
}
.catalogue .page-info{
    margin-bottom: 100px;
}
.catalogue .bike-sell .bike-sell-img img{
    width: 100%;
}
.catalogue .bike-sell .heading h1{
    margin-top: 20px;
    /*position: relative;*/
    left: -120px;
    font-size: 25px;
}
.catalogue .bike-sell .description p{
    font-size: 17px;
    text-transform:none;
}
.catalogue .bike-sell .product-info{
    list-style: none;
    padding: 0;
}
.catalogue .bike-sell .product-info li{
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}
.catalogue .bike-sell .product-info li p{
    margin: 0;
}
.catalogue .bike-sell .product-info img{
    width: 32px;
}
.catalogue .bike-sell .buy-button{
    background: #B6E925;
    border: 2px solid #B6E925;
    color: #fff;
    padding: 2px 18px;
    transition: .3s linear;
}
.catalogue .bike-sell .buy-button:hover{
    background: none;
}
.product-block .product-list .product-item{
    padding: 0;
}
.product-block .product-list .product-item:hover img{
    opacity: .7;
}
.product-block .product-list .product-item:hover h4{
    text-decoration: underline;
}
.product-block .product-list .product-item img{
    width: 100%;
    height: 325px;
    object-fit: cover;
}
.product-block .product-list .product-item .text{
    padding: 30px;
    color: #fff ;
}
.product-block .product-list .product-item .text .detail .triangle{
    writing-mode: vertical-lr;
    transform: rotate(-90deg);
}
.product-block .product-list .product-item .price-block{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 23px;
}

/*.hero{*/
/*    box-shadow: inset 0 0 0 2000px rgba(15, 15, 15, 1);*/
/*}*/

.hero{
    background: url(../src/backgroundBMW.png) center center no-repeat;
}
