
html {
    box-sizing: border-box;

}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

.container{
    margin: 0 auto;
    display: block;
    position: relative;
    width: 1280px;
    height: 1000px;

    background: linear-gradient(287.56deg, rgba(252, 146, 146, 0.91) 19.27%, rgba(253, 255, 134, 0.91) 63.54%, rgba(253, 255, 134, 0.91) 80.96%);
    mix-blend-mode: normal;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(254, 0, 0, 0.25);
}


.wrapper{
    width: 1280px;
    height: 120px;
    top: 0px;
}

.header__logo{
    position: absolute;
    width: 162.82px;
    height: 73.61px;
    left: 41px;
    top: 19px;
}

.top-menu {
position: absolute;
width: 797px;
height: 64.1px;
left: 302.13px;
top: 24px;
background: #FFFFFF;
mix-blend-mode: normal;
box-shadow: inset 0px 4px 50px 10px #FFFFFF;
border-radius: 50px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.9));
}
  .top-menu:after {
    content: "";
    display: table;
    clear: both;
  }
  .navbar-logo {display: inline-block;}
  .menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
    float: center;
  }
  .menu-main li {display: inline-block;}
  .menu-main a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 70px;
    padding-left: 55px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    transition:.3s linear;
  }
  .menu-main a:before {
    content: "";
    width: 9px;
    height: 9px;
    background: #000000;
    position: absolute;
    left: 63%;
    transform: rotate(45deg) translateX(6.5px);
    opacity: 0;
    transition: .3s linear;
  }
  .menu-main a:hover:before {opacity: 1;}
