.product{
    background: url(../src/backgroundAboutUs.png) center center no-repeat;
    background-size: cover;
    padding: 120px 0;
    color: #fff;
    text-transform: uppercase;
}

.product .heading{
    text-align: center;
    margin-bottom: 20px;
}
.product .founder{
    width: 100%;
    max-width: 400px;
}
.product .page-name h1{
    font-weight: 600;
    font-size: 60px;
    line-height: 90px;
}
.product .page-name hr{
    width: 30%;
    opacity: 1;
    border: 2px solid #B6E925;
    background: #B6E925;
}
.product .text .description p{
    font-size: 14px;
    line-height: 21px;
}
.product .page-info{
    margin-bottom: 100px;
}
.product .bike-sell .bike-sell-img img{
    width: 100%;
}
.product .bike-sell .heading h1{
    margin-top: 20px;
    /*position: relative;*/
    left: -120px;
    font-size: 25px;
}
.product .bike-sell .description p{
    font-size: 17px;
    text-transform:none;
}
.product .bike-sell .product-info{
    list-style: none;
    padding: 0;
}
.product .bike-sell .product-info li{
    display: flex;
    gap: 30px;
    margin-bottom: 10px;
}
.product .bike-sell .product-info li p{
    margin: 0;
}
.product .bike-sell .product-info img{
    width: 32px;
}
.product .bike-sell .buy-button{
    background: #B6E925;
    border: 2px solid #B6E925;
    color: #fff;
    padding: 2px 18px;
    transition: .3s linear;
}
.product .bike-sell .buy-button:hover{
    background: none;
}
.product .form{
    margin: 70px 0;
}
.product .form .text .heading h1{
    text-align: left;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
}
.product .form input, .product .form textarea{
    padding: 5px 10px;
    width: 100%;
}
.product .form img{
    width: 100%;
}
.product .form .email-input{
    margin: 45px 0;
}
.product .button-view{
    outline: none;
    background: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 5px 30px;
    float: right;
    margin-top: 15px;
    transition: .3s;
}
.product .button-view:hover{
    background: #fff;
    color: #0f0f0f;
}

